{% import "macros/form.html" as forms %}
    <div class="modal fade" id="mitModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit Mitigation</h4>
          </div>
          <div class="modal-body">
            <form method="post" action="" name="modal_form" id="modal_form">
                <div class="form-group row">
                    <div class="col-md-10">
                        {{ forms.render_field(m_form.description) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        {{ forms.render_field(m_form.ttl) }}
                    </div>
                    <div class="col-md-6">
                        {{ forms.render_field(m_form.destination) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        {{ forms.render_field(m_form.pending) }}
                    </div>
                    <div class="col-md-6">
                        {{ forms.render_field(m_form.active) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                {{ m_form.hidden_tag() }}
                {{ m_form.mit_id }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->