{% import "macros/form.html" as forms %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add Indicator</h4>
          </div>
          <div class="modal-body">
            <form method="post" action="/event/view/{{ event.id }}" name="indicator">
                <div class="form-group row">
                    <div class="col-md-10">
                        {{ forms.render_field(form.ioc) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        {{ forms.render_field(form.comment) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        {{ forms.render_field(form.itype) }}
                    </div>
                    <div class="col-md-6">
                        {{ forms.render_field(form.control) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                {{ form.event_id }}
                {{ form.hidden_tag() }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->